<!DOCTYPE HTML>
<html>

<head >
  <title>First official donating site in Romania</title>
  <link rel="stylesheet" type="text/css" href="style/style_refugee.css" />
</head>

<body >
  <div id="main">
    <div id="header" style="background:#7dc2ec;" >
        <img src="style/3.jpg" style="float:left;width:90px;height:90px; top:30px; left:100px; position:relative; border-radius: 95%;">
      <div  id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h3 style="top:50px; position:relative;"><a href="index.html"><span class="logo_colour" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Tom Hardy</span></a></h3>
        </div>
      </div>
      
          <ul id="menu" >
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li style="float:none; left: 100px; top:100px; position:relative; border-radius: 25%;"><a style="padding: 6px 50px 5px 28px; background:#149CF0; border-radius: 25%;" href="index.html">Pending requests</a></li>
            <li style="background:#149CF0; float:none; left: 355px; top:240px; position:absolute; border-radius: 25%;"><a style="padding: 6px 100px 5px 28px; background:#149CF0; border-radius: 25%;" href="index.html">Publish offer</a></li>
            <li style="float:none; left: 100px; top:120px; position:relative; border-radius: 25%;"><a style="padding: 6px 320px 5px 28px; background:#149CF0; background:#149CF0; border-radius: 25%;" href="examples.html">My offers</a></li>
            <li style="float:none; left: 100px; top:140px; position:relative; border-radius: 25%;"><a style="padding: 6px 320px 5px 28px; background:#149CF0; border-radius: 25%;" href="page.html">History</a></li>
            <li style="float:none; left: 100px; top:160px; position:relative; border-radius: 25%;"><a style="padding: 6px 100px 5px 28px; background:#149CF0; border-radius: 25%;" href="another_page.html">Homepage</a></li>
            <li style="float:none; left: 125px; top:160px; position:relative; border-radius: 25%;"><a style="padding: 6px 100px 5px 28px; background:#149CF0; border-radius: 25%;" href="another_page.html">Sign out</a></li>
          </ul>
          <img src="style/4.png" style="float:left;width:300px;height:200px; top:130px; left:300px; position:relative; ">
      
    </div>
     <div id="content_header"></div>
   
</body>
</html>
