<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title><%= title %></title>eeee
        <link rel="stylesheet" href="/stylesheet/style.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://dev-sqqag002.us.auth0.com/login?
                    response_type=code&
                    client_id=LvFx3v6D2W36ucidLMlRtwiHVkjWFxRW&
                    redirect_uri=http://localhost:3000/callback&  
                    scope=appointments%20contacts&
                    audience=appointments:api&
                    state=xyzABC123">
                    Sign In
                  </a></li>
                <li><a href="/secured">Secure</a></li>
                <% if (!isAuthenticated) { %>
                <li><a href="/login/">Login</a></li>
                <% } else { %>
                <li><a href="/logout/">Logout</a></li>
                <% } %>
            </ul>
        </nav>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>
        <script>
            async function main() {
                console.log(1)
                let auth0 = null;
                const configureClient = async () => {
                    auth0 = await createAuth0Client({
                    domain: 'dev-sqqag002.us.auth0.com',
                    client_id: 'UZcKEK1vr9Ql5BXPLk0lVmP3NgvNeGRY' 
                    });
                }

                // window.onload = async () => {
                //     await configureClient();
                //     updateUI();
                // };
                // const updateUI = async () => {
                //     console.log(auth0);
                //     const isAuthenticated = await auth0.isAuthenticated();
                //     console.log(isAuthenticated); 
                // };
                await configureClient();
                console.log(auth0);
                const a = await auth0.getUser();
                console.log(a)
                console.log(1)
            }
            main();
        </script>
    </body>
</html>
